*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
 
  text-align: center;
}

main {
  
  border: 2px solid grey;
}

.container {
  margin: 0 auto;
}


label {
  display: inline-block;
  width: 100%;
}


.bookmark-item {
  border: solid 1px grey;
  list-style: none;
  padding: 25px;
}

.info {
  color: red;
}

.info {
  display: none;
}

.expanded {
  display: block;
}




